<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="br.edu.qi.mentalhealthaplication">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MentalHealthAplication"
        tools:targetApi="31">

        <activity
            android:name=".Controller.Activitys.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Controller.Activitys.HelpActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Controller.Activitys.TestActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Controller.Activitys.PlanListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Controller.Activitys.PlanRegistrationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Controller.Activitys.ReasonRegistrationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Controller.Activitys.UserRegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Controller.Activitys.MenuActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Controller.Activitys.ReasonListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Controller.Activitys.ReasonUpdateActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Controller.Activitys.PlanUpdateActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
    </application>

</manifest>